<mat-card class="login-card">
    <mat-card-header>
        <img mat-card-image class="login-header-image" src="../../assets/images/logo.png">
    </mat-card-header>

    <mat-card-content>
        <app-notification [show]="utils.notificationShow" [message]="utils.notificationMessage" [type]="utils.notificationType"></app-notification>
        <form [formGroup]="personalInformationForm" class="login-form" name="login">
            <div class="block-item-input center">
                <mat-form-field>
                    <input matInput autocomplete="off" type="email" placeholder="E-mail" class="input-username" [formControl]="personalInformationForm.get('emailValidator')" name="email" [(ngModel)]="user.email" />
                    <mat-error *ngIf="personalInformationForm.get('emailValidator').invalid">{{getErrorEmailMessage()}}</mat-error>
                    <mat-error *ngIf="personalInformationForm.get('emailValidator').invalid">{{getErrorFormatEmailMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput autocomplete="off" type="password" placeholder="Password" class="input-username" [formControl]="personalInformationForm.get('passwordValidator')" name="password" [(ngModel)]="user.password" />
                    <mat-error *ngIf="personalInformationForm.get('passwordValidator').invalid">{{getErrorPasswordMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput autocomplete="off" type="password" placeholder="Repeat Password" class="input-username" [formControl]="personalInformationForm.get('repeatPasswordValidator')" name="repeatPassword" [(ngModel)]="user.repeatPassword" />
                    <mat-error *ngIf="personalInformationForm.get('repeatPasswordValidator').invalid">{{getErrorRepeatPasswordMessage()}}</mat-error>

                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions class="center">
        <button mat-flat-button class="login-button" (click)="resetPassword()">Submit</button>
    </mat-card-actions>
</mat-card>