<!--Header-->
<div *ngIf="!globals.isFullscreen" class="msf-menu-header">
    <div class="msf-menu-header-image-container">
        <img (click)="goHome()" style="cursor:pointer;" src="../../assets/images/logo_global_peqe.png" class="msf-menu-logo">
        <img src="../../assets/images/ajustes.png" class="msf-menu-ajustes-icon">
    </div>
    <div class="msf-header-icons">
        <div *ngIf="globals.currentUser" style="margin-right:5px;" class="msf-inline msf-vertical-middle">
            <button mat-icon-button style="margin-right: 70px" [matMenuTriggerFor]="userMenu">
                {{globals.currentUser}}
                <mat-icon>person</mat-icon>
            </button>
        </div>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logOut()">
                    <mat-icon>settings</mat-icon>
                    <span>Log out</span>
                </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="adminMenu">
          <mat-icon>more_vert</mat-icon>
      </button>
        <mat-menu #adminMenu="matMenu">
            <button *ngIf="globals.currentApplication != 'create'" mat-menu-item (click)="getOption('create')">
                  <mat-icon>settings</mat-icon>
                  <span>Create Web Service</span>
              </button>
            <button *ngIf="globals.currentApplication != 'list'" mat-menu-item (click)="getOption('list')">
                  <mat-icon>settings</mat-icon>
                  <span>Web Services Summary</span>
              </button>
        </mat-menu>

    </div>
</div>
<div *ngIf="!globals.isFullscreen" class="msf-menu-icons-container">
    <div class="msf-secondary-color msf-menu-icon-container msf-menu-adm">connected</div>
</div>
<!--body-->

<app-web-services *ngIf="globals.currentApplication == 'create'"></app-web-services>
<app-all-web-services *ngIf="globals.currentApplication == 'list'"></app-all-web-services>
<app-test *ngIf="globals.currentApplication == 'test'"></app-test>
<!--container-->
<div>

</div>