<!--Header-->
<div *ngIf="!globals.isFullscreen" class="msf-menu-header">
    <div class="msf-menu-header-image-container">
        <img (click)="goHome()" style="cursor:pointer;" src="../../assets/images/pulse_welc.png" class="msf-menu-logo">
        <img src="../../assets/images/ajustes.png" class="msf-menu-ajustes-icon">
    </div>
    <div class="msf-header-icons">
        <img src="../../assets/images/logo_global_peqe.png" class="msf-header-icons2">
        <div *ngIf="globals.currentUser" style="padding: 0px; margin: 0px;
        border: 0px; margin-left: 5px;
        /*width: calc(70% - 35px);*/
        display: flex;
        justify-content: center;">
            <button mat-button style="height: 60px;     padding: 0px;
            margin: 0px;
            border: 0px; font-size: 12px;" [matMenuTriggerFor]="userMenu">
                {{globals.currentUser}}
                <mat-icon style="font-size: 20px; width: 20px;height: 20px;">person</mat-icon>
            </button>
        </div>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logOut()">
                    <mat-icon>settings</mat-icon>
                    <span>Log out</span>
                </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="adminMenu" style="padding: 0px;
        margin: 0px;
        border: 0px;">
          <mat-icon>more_vert</mat-icon>
      </button>
        <mat-menu #adminMenu="matMenu">
            <button *ngIf="globals.currentApplication != 'create'" mat-menu-item (click)="getOption('create')">
                  <mat-icon>settings</mat-icon>
                  <span>Create Web Service</span>
              </button>
            <button *ngIf="globals.currentApplication != 'list'" mat-menu-item (click)="getOption('list')">
                  <mat-icon>settings</mat-icon>
                  <span>Web Services Summary</span>
              </button>
        </mat-menu>

    </div>
</div>
<div *ngIf="!globals.isFullscreen" class="msf-menu-icons-container">
    <div class="msf-secondary-color msf-menu-icon-container msf-menu-adm">connected as {{globals.currentUser}}</div>
</div>
<!--body-->

<app-web-services *ngIf="globals.currentApplication == 'create'"></app-web-services>
<app-all-web-services *ngIf="globals.currentApplication == 'list'"></app-all-web-services>
<app-test *ngIf="globals.currentApplication == 'test'"></app-test>
<!--container-->
<div>

</div>