<!--body-->
<div class="msf-intro-body" style="overflow-y: auto;padding: 2%;">
    <div>
        <div class="msf-intro-welcome" style="font-size: 120%;font-weight: 500;">Welcome to {{globals.currentApplication.name}}, {{globals.currentUser}}</div>
        <div>Your last visit was on September 24, 2018</div>
        <!--
          <img *ngIf="globals.currentApplication.id==3" src="../../assets/images/dashboard-02.png"
          style="width: 91.5%;padding-bottom: 5%;margin: 1% 0;"> -->
    </div>
</div>