<div class="msf-menu-header" style="height: 85px; display: flex; flex-direction: row; flex-wrap: wrap">
    <div *ngIf="!globals.currentWebService" class="ws-title" style="flex: 1;">Create a new Web Service</div>
    <div *ngIf="globals.currentWebService" class="ws-title" style="flex: 1;">Edit {{globals.currentWebService.name}}</div>
    <div style="flex: 1;"><button mat-flat-button class="flat-button button-publish" (click)="saveWebService()">Publish</button></div>

</div>
<div class="msf-menu-body ">
    <mat-horizontal-stepper (selectionChange)="getSelectedColumns()">
        <mat-step [stepControl]="dataSourceForm">
            <ng-template matStepLabel>Select Data Source</ng-template>
            <div style="display: flex; flex-direction: row; flex-flow: row wrap;margin-left:100px;margin-top:20px;">
                <div style="width: 30%;">
                    <div class="box-titles">Table(s)</div>
                    <div class="box-container">
                        <mat-form-field style="background-color: #1e1e1e">
                            <input class="search-input" style="width:85%" matInput [(ngModel)]="searchText">
                            <mat-icon style="color: white" aria-label="search">search</mat-icon>
                        </mat-form-field>
                        <div style="margin-top: 15px">
                            <div style="margin-bottom: 10px; margin-left:4px;" *ngFor="let table of tables | filter : searchText">
                                <mat-checkbox color="primary" [(ngModel)]="table.selected" (change)=addTable(table)>{{table.name}}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 30%;">
                    <div class="box-titles">View(s)</div>
                    <div class="box-container">
                        <mat-form-field style="background-color: #1e1e1e; margin-bottom: 10px;">
                            <input class="search-input" style="width:85%" matInput [(ngModel)]="searchView">
                            <mat-icon style="color: white" aria-label="search">search</mat-icon>
                        </mat-form-field>
                        <div style="margin-top: 15px">
                            <div style="margin-bottom: 10px; margin-left:4px;" *ngFor="let view of views | filter : searchView">
                                <mat-checkbox color="primary" [(ngModel)]="view.selected" (change)=addView(view)>{{view.name}}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 30%;">
                    <div class="box-titles">Summary</div>
                    <div>
                        <div style="margin-top: 10px;">
                            <span style="color:#01abec;">Select Table(s)</span>
                            <div class="selected-containers">
                                <div style="margin-top:10px; width: 100%;" *ngFor="let table of selectTables.tables">
                                    <div style="display: flex; flex-direction: row; flex-flow: row wrap;margin-top: 5px;margin-bottom: 5px; height: 30px; line-height: 30px; color: white; font-size:12px;">
                                        <div style="width:50%;; margin-right: 10px;">{{table.name}}</div>
                                        <mat-form-field [floatLabel]="'never'" style="width:40%">
                                            <input matInput [(ngModel)]="table.alias">
                                            <mat-placeholder class="placeholder">write an alias</mat-placeholder>
                                        </mat-form-field>
                                        <button style="background-color: transparent; border: none; color:white" (click)="deleteFromSelectTable(table)">x</button>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div style="margin-top: 30px;">
                        <span style="color:#01abec;">Select View(s)</span>
                        <div class="selected-containers">
                            <div style="margin-top:10px; width: 100%;" *ngFor="let view of selectViews.tables">
                                <div style="display: flex; flex-direction: row; flex-flow: row wrap;margin-top: 5px;margin-bottom: 5px; height: 30px; line-height: 30px; color: white; font-size:12px;">
                                    <div style="width:50%;; margin-right: 10px;">{{view.name}}</div>
                                    <mat-form-field [floatLabel]="'never'" style="width:40%">
                                        <input matInput [(ngModel)]="view.alias">
                                        <mat-placeholder class="placeholder">write an alias</mat-placeholder>
                                    </mat-form-field>
                                    <button style="background-color: transparent; border: none; color:white" (click)="deleteFromSelectView(view)">x</button>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step [stepControl]="columnsForm">
            <ng-template matStepLabel>Select Data Column</ng-template>
            <div style="display: flex; flex-direction: row; flex-flow: row wrap;margin-left:100px;margin-top:20px;">
                <div style="width: 30%;">
                    <div style="display: flex; flex-direction: row; flex-flow: row wrap; height: 50px">
                        <div style="color: white; width: 45%; line-height: 65px">Available Columns for</div>
                        <mat-form-field class="select-dark" style="width: 45%;" class="msf-item">
                            <mat-select class="select-dark" autocomplete="off" (selectionChange)="concatChangeEvent($event)" name="tables" required [(value)]=tableSelected>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let con of selectconcat.tables" [value]="con">
                                    {{ con.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="box-container">
                        <mat-form-field style="position:sticky; background-color: #1e1e1e; margin-bottom: 15px">
                            <input class="search-input" style="width:85%" matInput [(ngModel)]="searchColumn">
                            <mat-icon style="color: white" aria-label="search">search</mat-icon>
                        </mat-form-field>
                        <div *ngIf="selectconcat.tables.length != 0" style="margin-top: 15px">
                            <div style="margin-bottom: 10px; margin-left:4px;" *ngFor="let column of tableSelected.columns | filter: searchColumn">
                                <mat-checkbox color="primary" [(ngModel)]="column.selected" (change)=addColumn(column)>{{column.name}}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 65%;padding-top: 30px">
                    <div style="margin-bottom: 18px" class="box-titles">Summary</div>
                    <mat-divider></mat-divider>
                    <div *ngIf="selectconcat.tables.length" style="overflow-y: scroll; max-height: 300px">
                        <div *ngFor="let item of tableSelected.columns">
                            <div *ngIf="item.selected" style="display: flex;margin-top: 5px;margin-bottom: 5px">
                                <div style="width:20%; color: white; line-height: 30px">{{item.name}}</div>
                                <mat-select class="select-column" autocomplete="off" (selectionChange)="type(item)" name="tables" [(ngModel)]="item.typePresentation" required>
                                    <mat-option value="value">Value</mat-option>
                                    <mat-option value="aggregate">Aggregate</mat-option>
                                </mat-select>
                                <mat-form-field *ngIf="item.typePresentation=='value'" [floatLabel]="'never'" style="width:20%; margin-right: 20px">
                                    <input matInput [(ngModel)]="item.alias">
                                    <mat-placeholder class="placeholder">write an alias</mat-placeholder>
                                </mat-form-field>
                                <div *ngIf="item.typePresentation=='aggregate'" style="display: flex;flex-direction: column;">
                                    <div style="display: flex;flex-direction: column;">

                                        <div style="display: flex;flex-direction: row; margin: 5px;">
                                            <mat-checkbox style="width:40%;" class="agr-functions" [(ngModel)]="item.functionsAux.sum" (change)=addFunction(item)>Sum
                                            </mat-checkbox>
                                            <mat-form-field [floatLabel]="'never'" style="width:40%; margin-right: 20px">
                                                <input matInput [(ngModel)]="item.functionsAux.aliasSum">
                                                <mat-placeholder class="placeholder">write an alias</mat-placeholder>
                                            </mat-form-field>
                                        </div>
                                        <mat-divider></mat-divider>

                                        <div style="display: flex;flex-direction: row; margin: 5px;">
                                            <mat-checkbox class="agr-functions" [(ngModel)]="item.functionsAux.max" (change)=addFunction($event)>Max
                                            </mat-checkbox>
                                            <mat-form-field [floatLabel]="'never'" style="width:40%; margin-right: 20px">
                                                <input matInput [(ngModel)]="item.functionsAux.aliasMax">
                                                <mat-placeholder class="placeholder">write an alias</mat-placeholder>
                                            </mat-form-field>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <div style="display: flex;flex-direction: row; margin: 5px;">
                                            <mat-checkbox class="agr-functions" [(ngModel)]="item.functionsAux.min" (change)=addFunction($event)>Min
                                            </mat-checkbox>
                                            <mat-form-field [floatLabel]="'never'" style="width:40%; margin-right: 20px">
                                                <input matInput [(ngModel)]="item.functionsAux.aliasMin">
                                                <mat-placeholder class="placeholder">write an alias</mat-placeholder>
                                            </mat-form-field>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <div style="display: flex;flex-direction: row; margin: 5px;">
                                            <mat-checkbox class="agr-functions" [(ngModel)]="item.functionsAux.avg" (change)=addFunction($event)>Avg
                                            </mat-checkbox>
                                            <mat-form-field [floatLabel]="'never'" style="width:40%; margin-right: 20px">
                                                <input matInput [(ngModel)]="item.functionsAux.aliasAvg">
                                                <mat-placeholder class="placeholder">write an alias</mat-placeholder>
                                            </mat-form-field>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <div style="display: flex;flex-direction: row; margin: 5px;">
                                            <mat-checkbox class="agr-functions" [(ngModel)]="item.functionsAux.count" (change)=addFunction($event)>
                                                Count</mat-checkbox>
                                            <mat-form-field [floatLabel]="'never'" style="width:40%; margin-right: 20px">
                                                <input matInput [(ngModel)]="item.functionsAux.aliasCount">
                                                <mat-placeholder class="placeholder">write an alias</mat-placeholder>
                                            </mat-form-field>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <div style="display: flex;flex-direction: row; margin: 5px;">
                                            <mat-checkbox class="agr-functions" [(ngModel)]="item.functionsAux.std" (change)=addFunction($event)>Std Deviation
                                            </mat-checkbox>
                                            <mat-form-field [floatLabel]="'never'" style="width:40%; margin-right: 20px">
                                                <input matInput [(ngModel)]="item.functionsAux.aliasStd">
                                                <mat-placeholder class="placeholder">write an alias</mat-placeholder>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <mat-divider *ngIf="item.selected" style="margin-top: 10px;margin-bottom: 10px"></mat-divider>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step [stepControl]="argForms">
            <ng-template matStepLabel>Service Arguments</ng-template>
            <div style=" overflow: hidden; display: flex; flex-direction: row; flex-flow: row wrap;margin-left:100px;margin-top:40px;">
                <div style="width: 40%; margin-right: 20%">
                    <div style="display: flex; flex-direction: row">
                        <div style="flex: 2; margin-bottom: 5px;" class="box-titles">Arguments Definition</div>
                        <mat-divider></mat-divider>
                        <div>
                            <button mat-icon-button (click)="addNewArgument()">
                        <mat-icon style="color: white" aria-label="add">add_circle</mat-icon>
                      </button>
                        </div>
                    </div>
                    <form [formGroup]="argForms" class="container-arg">
                        <div formArrayName="items" class="argument-container" *ngFor="let arg of selectconcat.arguments; let i = index">
                            <mat-form-field style="margin-bottom:30px">
                                <input matInput placeholder="Argument Name" [(ngModel)]="arg.label" [ngModelOptions]="{standalone: true}" name="argumentName">
                            </mat-form-field>
                            <mat-select style="margin-bottom:10px" autocomplete="off" name="types" [(ngModel)]="arg.type" [ngModelOptions]="{standalone: true}" name="argumentType" required>
                                <mat-option value="string">String</mat-option>
                                <mat-option value="number">Number</mat-option>
                                <mat-option value="date">Date</mat-option>
                            </mat-select>
                            <mat-checkbox [(ngModel)]="arg.required" [ngModelOptions]="{standalone: true}">Required</mat-checkbox>
                            <!--
                        <mat-radio-group style="margin-bottom:10px" [(ngModel)]="arg.required" name="argumentReq" #radioGroup="matRadioGroup">
                            <mat-radio-button name="i" style="color: white; margin-right: 5px" [value]="false">Optional</mat-radio-button>
                            <mat-radio-button name="i" style="color: white" [value]="true">Required</mat-radio-button>
                        </mat-radio-group> -->
                        </div>
                    </form>
                </div>
                <div>

                </div>
                <div style="width: 30%">
                    <div class="box-titles" style="margin-bottom: 5px;">Arguments Summary</div>
                    <mat-divider></mat-divider>
                    <div class="container-arg">
                        <div style="margin-top:10px" *ngFor="let arg of selectconcat.arguments">
                            <div style="display: flex; flex-direction: row; flex-flow: row wrap;margin-top: 5px;margin-bottom: 5px; height: 30px; line-height: 30px; color: white; font-size:12px;">
                                <div style="width:50%">{{arg.label}}</div>
                                <div style="width:40%">{{arg.type}}</div>
                                <button style="background-color: transparent; border: none; color:white" (click)="deleteArgument(arg)">x</button>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Where Condition</ng-template>
            <div style="margin-left:100px;margin-right:100px;margin-top:20px;font-size: 14px">
                <div style="margin-bottom: 5px;"><span style="color:#01abec">Select </span>{{selectSentence}}</div>
                <div style="margin-bottom: 5px;"><span style="color:#01abec">From </span>{{fromSentence}}</div>
                <div style="margin-bottom: 5px;"><span style="color:#01abec">Where: </span></div>
                <ngx-codemirror #codeEditor [(ngModel)]="whereSentence" [options]="options" (cursorActivity)="cursorMoved()">
                </ngx-codemirror>
                <div style="margin-top:20px;overflow: hidden; display: flex; flex-direction: row; flex-flow: row wrap">
                    <div style="width:60%; margin-right: 3%">
                        <div class="titles-large">Table(s)</div>
                        <div class="scroll-type" style="margin-top: 10px">
                            <div *ngFor="let item of selectconcat.tables" style="margin-bottom: 5px;">
                                <div style="font-size: 18px">{{item.name}}</div>
                                <div style="overflow: hidden; display: flex; flex-direction: row; flex-flow: row wrap">
                                    <div *ngFor="let cl of item.columns" style="margin-right: 4px">
                                        <div style="font-size: 12px">{{cl.name}}, </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width:37%">
                        <div class="titles-large">Arguments</div>
                        <div style="margin-top:10px" class="scroll-type">
                            <div *ngFor="let arg of selectconcat.arguments">
                                <div *ngIf="arg.label" style="display: flex; flex-direction: row; flex-flow: row wrap;margin-top: 5px;margin-bottom: 5px; height: 20px; line-height: 20px; color: white; font-size:12px;">
                                    <div style="width:60%">{{arg.label}}</div>
                                    <div style="width:40%">{{arg.type}}</div>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Group by</ng-template>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;margin-left:100px;margin-top:20px;">
                <div style="width: 30%;padding-top: 30px">
                    <div class="box-container">
                        <mat-form-field style="background-color: #1e1e1e; margin-bottom: 15px">
                            <input class="search-input" style="width:85%" matInput [(ngModel)]="searchGroup">
                            <mat-icon style="color: white" aria-label="search">search</mat-icon>
                        </mat-form-field>
                        <div style="margin-top: 15px">
                            <div style="margin-bottom: 10px; margin-left:4px;" *ngFor="let table of selectconcat.tables">
                                <div style="margin-bottom: 10px; margin-left:4px;" *ngFor="let column of table.columns | filter: searchGroup">
                                    <mat-checkbox color="primary" [(ngModel)]="column.groupByBool" (change)=addGroupBy(table,column)>{{table.alias}}<span *ngIf="table.alias">.</span>{{column.name}}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 65%;padding-top: 30px">
                    <div style="margin-bottom: 18px" class="box-titles">Summary</div>
                    <mat-divider></mat-divider>
                    <div style="margin: 9px 0px"><span style="color:#01abec;">Select Column(s)</span></div>
                    <mat-divider></mat-divider>
                    <div *ngFor="let item of groupBySelected">
                        <div style="width:20%; color: white; line-height: 30px">{{item.name}}</div>
                        <mat-divider></mat-divider>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Service Configuration</ng-template>
            <form name="configuration">
                <div style="margin-left:100px;margin-top:20px;width: 45%">
                    <mat-form-field class="server-config">
                        <input (change)="checkNameValidator($event.target.value)" class="server-config" placeholder="Web Service Name" matInput [formControl]="configurationForm.get('nameValidator')" [(ngModel)]="selectconcat.name" name="name">
                        <mat-error *ngIf="configurationForm.get('nameValidator')?.hasError('exists')">
                            {{getErrorNameExistMessage()}}
                        </mat-error>
                        <mat-error *ngIf="configurationForm.get('nameValidator')?.hasError('required')">
                            {{getErrorNameMessage()}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="server-config">
                        <input class="server-config" value=0 placeholder="Page size" type="number" matInput [(ngModel)]="selectconcat.pageSize" name="pagination">
                    </mat-form-field>

                    <mat-form-field class="server-config">
                        <input class="server-config" placeholder="Description" matInput [(ngModel)]="selectconcat.description" name="pagination">
                    </mat-form-field>

                    <mat-select class="server-config" autocomplete="off" name="types" [(ngModel)]="selectconcat.method" [ngModelOptions]="{standalone: true}" name="method" required>
                        <mat-option value="GET">GET</mat-option>
                        <mat-option value="POST">POST</mat-option>
                    </mat-select>
                </div>
            </form>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Query Summary</ng-template>
            <div style="margin-left:100px;margin-right:100px;margin-top:20px;font-size: 14px ">
                <div *ngIf="selectSentence " style="margin-bottom: 5px; "><span style="color:#01abec ">Select </span>{{selectSentence}}</div>
                <div *ngIf="fromSentence " style="margin-bottom: 5px; "><span style="color:#01abec ">From </span>{{fromSentence}}</div>
                <div *ngIf="whereSentence  " style="margin-bottom: 5px; "><span style="color:#01abec ">Where </span>{{whereSentence}}</div>
                <div *ngIf="groupBySentence " style="margin-bottom: 5px; "><span style="color:#01abec ">Group By
          </span>{{groupBySentence}}</div>
            </div>
        </mat-step>

    </mat-horizontal-stepper>