<div class="msf-menu-header" style="height: 85px; display: flex; flex-direction: row; flex-wrap: wrap">
    <div class="ws-title" style="flex: 1;">Create a new Web Service</div>
    <div style="flex: 1;"><button mat-flat-button class="flat-button button-publish">Publish</button></div>

</div>
<div class="msf-menu-body ">
    <mat-horizontal-stepper (selectionChange)="getSelectedColumns()">
        <mat-step [stepControl]="dataSourceForm">
            <ng-template matStepLabel>Select Data Source</ng-template>
            <div style="display: flex; flex-direction: row; flex-flow: row wrap;margin-left:100px;margin-top:20px;">
                <div style="width: 30%;">
                    <div class="box-titles">Table(s)</div>
                    <div class="box-container">
                        <mat-form-field style="background-color: #1e1e1e">
                            <input class="search-input" style="width:85%" matInput [(ngModel)]="searchText">
                            <mat-icon style="color: white" aria-label="search">search</mat-icon>
                        </mat-form-field>
                        <mat-divider></mat-divider>
                        <div style="margin-top: 15px">
                            <div style="margin-bottom: 10px; margin-left:4px;" *ngFor="let table of tables | filter : searchText">
                                <mat-checkbox color="primary" [(ngModel)]="table.selected" (change)=addTable(table)>{{table.name}}</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 30%;">
                    <div class="box-titles">View(s)</div>
                    <div class="box-container">
                        <mat-form-field style="background-color: #1e1e1e; margin-bottom: 10px;">
                            <input class="search-input" style="width:85%" matInput [(ngModel)]="searchView">
                            <mat-icon style="color: white" aria-label="search">search</mat-icon>
                        </mat-form-field>
                        <mat-divider></mat-divider>
                        <div style="margin-top: 15px">
                            <div style="margin-bottom: 10px; margin-left:4px;" *ngFor="let view of views | filter : searchView">
                                <mat-checkbox color="primary" [(ngModel)]="view.selected" (change)=addView(view)>{{view.name}}</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 30%;">
                    <div class="box-titles">Summary</div>
                    <div>
                        <div style="margin-top: 10px;">
                            <span style="color:#01abec;">Select Table(s)</span>
                            <div class="selected-containers">
                                <!-- <div style="display: flex; justify-content: flex-start" class="selected-objects" *ngFor="let table of selectTables.tables">
                                    <span>{{table.name }} </span>
                                    <button style="background-color: transparent; border: none; color:white" (click)="deleteFromSelectTable(table)">x</button>
                                </div> -->
                                <div style="margin-top:10px; width: 100%;" *ngFor="let table of selectTables.tables">
                                    <div style="display: flex; flex-direction: row; flex-flow: row wrap;margin-top: 5px;margin-bottom: 5px; height: 30px; line-height: 30px; color: white; font-size:12px;">
                                        <div style="width:50%;; margin-right: 10px;">{{table.name}}</div>
                                        <mat-form-field [floatLabel]="'never'" style="width:40%">
                                            <input matInput [(ngModel)]="table.alias">
                                            <mat-placeholder class="placeholder">write an alias</mat-placeholder>
                                        </mat-form-field>
                                        <button style="background-color: transparent; border: none; color:white" (click)="deleteFromSelectTable(table)">x</button>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div style="margin-top: 30px;">
                        <span style="color:#01abec;">Select View(s)</span>
                        <div class="selected-containers">
                            <!-- <div style="display: flex; justify-content: flex-start" class="selected-objects" *ngFor="let view of selectViews.tables">
                                    <span>{{view.name}} </span>
                                    <button style="background-color: transparent; border: none; color:white" (click)="deleteFromSelectView(view)">x</button>
                                </div> -->
                            <div style="margin-top:10px; width: 100%;" *ngFor="let view of selectViews.tables">
                                <div style="display: flex; flex-direction: row; flex-flow: row wrap;margin-top: 5px;margin-bottom: 5px; height: 30px; line-height: 30px; color: white; font-size:12px;">
                                    <div style="width:50%;; margin-right: 10px;">{{view.name}}</div>
                                    <mat-form-field [floatLabel]="'never'" style="width:40%">
                                        <input matInput [(ngModel)]="view.alias">
                                        <mat-placeholder class="placeholder">write an alias</mat-placeholder>
                                    </mat-form-field>
                                    <button style="background-color: transparent; border: none; color:white" (click)="deleteFromSelectView(view)">x</button>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step [stepControl]="columnsForm">
            <ng-template matStepLabel>Select Data Column</ng-template>
            <div style="display: flex; flex-direction: row; flex-flow: row wrap;margin-left:100px;margin-top:20px;">
                <div style="width: 30%;">
                    <div style="display: flex; flex-direction: row; flex-flow: row wrap; height: 50px">
                        <div style="color: white; width: 45%; line-height: 65px">Available Columns for</div>
                        <mat-form-field style="width: 45%;" class="msf-item">
                            <mat-select autocomplete="off" (selectionChange)="concatChangeEvent($event)" name="tables" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let con of selectconcat.tables" [value]="con">
                                    {{ con.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="box-container">
                        <mat-form-field style="position:sticky; background-color: #1e1e1e; margin-bottom: 15px">
                            <input class="search-input" style="width:85%" matInput [(ngModel)]="searchColumn">
                            <mat-icon style="color: white" aria-label="search">search</mat-icon>
                            <mat-divider></mat-divider>
                        </mat-form-field>
                        <div style="margin-top: 15px">
                            <div style="margin-bottom: 10px; margin-left:4px;" *ngFor="let column of tableSelected.columns | filter: searchColumn">
                                <mat-checkbox color="primary" [(ngModel)]="column.selected" (change)=addColumn(column)>{{column.name}}</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 65%;padding-top: 30px">
                    <div style="margin-bottom: 18px" class="box-titles">Summary</div>
                    <mat-divider></mat-divider>
                    <div *ngFor="let item of tableSelected.columns">
                        <div *ngIf="item.selected" style="display: flex; flex-direction: row; flex-flow: row wrap;margin-top: 5px;margin-bottom: 5px">
                            <div style="width:20%; color: white; line-height: 30px">{{item.name}}</div>
                            <mat-select class="select-column" autocomplete="off" (selectionChange)="type(item)" name="tables" [(ngModel)]="item.type" required>
                                <mat-option value="value">Value</mat-option>
                                <mat-option value="aggregate">Aggregate</mat-option>
                            </mat-select>
                            <div *ngIf="item.type=='aggregate'">
                                <mat-checkbox class="agr-functions" [(ngModel)]="item.functions.sum" (change)=addFunction($event)>Sum</mat-checkbox>
                                <mat-checkbox class="agr-functions" [(ngModel)]="item.functions.max" (change)=addFunction($event)>Max</mat-checkbox>
                                <mat-checkbox class="agr-functions" [(ngModel)]="item.functions.min" (change)=addFunction($event)>Min</mat-checkbox>
                                <mat-checkbox class="agr-functions" [(ngModel)]="item.functions.avg" (change)=addFunction($event)>Avg</mat-checkbox>
                                <mat-checkbox class="agr-functions" [(ngModel)]="item.functions.count" (change)=addFunction($event)>Count</mat-checkbox>
                                <mat-checkbox class="agr-functions" [(ngModel)]="item.functions.std" (change)=addFunction($event)>Std Deviation</mat-checkbox>
                            </div>

                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Service Arguments</ng-template>
            <div style=" overflow: hidden; display: flex; flex-direction: row; flex-flow: row wrap;margin-left:100px;margin-top:20px;">
                <div class="container-arg" style="width: 60%;">
                    <div class="argument-container" *ngFor="let arg of selectconcat.arguments">
                        <mat-form-field style="width: 45%;" class="msf-item">
                            <input placeholder="Argument Name" style="height: 20px;color: white; border-bottom-style: solid;border-bottom-color: rgba(121, 117, 117, 0.12); margin-bottom:10px; border-bottom-width: 0.5px" matInput [(ngModel)]="arg.name">
                            <mat-select placeholder="Data type" autocomplete="off" name="types" [(ngModel)]="arg.type" required>
                                <mat-option value="string">String</mat-option>
                                <mat-option value="number">Number</mat-option>
                                <mat-option value="date">Date</mat-option>
                            </mat-select>
                            <mat-radio-group [(ngModel)]="arg.required" #radioGroup="matRadioGroup">
                                <mat-radio-button style="color: white; margin-right: 5px" [value]="false">Optional</mat-radio-button>
                                <mat-radio-button style="color: white" [value]="true">Required</mat-radio-button>
                            </mat-radio-group>
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-icon-button (click)="addNewArgument()">
                            <mat-icon style="color: white" aria-label="add">add_circle</mat-icon>
                        </button>
                    </div>
                </div>
                <div style="width: 30%">
                    <div class="box-titles">Arguments Summary</div>
                    <mat-divider></mat-divider>
                    <div style="margin-top:10px" *ngFor="let arg of selectconcat.arguments">
                        <div style="display: flex; flex-direction: row; flex-flow: row wrap;margin-top: 5px;margin-bottom: 5px; height: 30px; line-height: 30px; color: white; font-size:12px;">
                            <div style="width:50%">{{arg.name}}</div>
                            <div style="width:40%">{{arg.type}}</div>
                            <button style="background-color: transparent; border: none; color:white" (click)="deleteArgument(arg)">x</button>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Where Condition</ng-template>
            <div style="margin-left:100px;margin-right:100px;margin-top:20px;font-size: 14px">
                <div style="margin-bottom: 5px;"><span style="color:#01abec">Select </span>{{selectSentence}}</div>
                <div style="margin-bottom: 5px;"><span style="color:#01abec">From </span>{{fromSentence}}</div>
                <div style="margin-bottom: 5px;"><span style="color:#01abec">Where: </span></div>
                <mat-form-field>
                    <textarea matInput [(ngModel)]="whereSentence"></textarea>
                </mat-form-field>
                <!-- <div ace-editor
                [(text)]="text"
                [mode]="'sql'"
                [theme]="'eclipse'"
                [options]="options"
                [readOnly]="false"
                [autoUpdateContent]="true"
                [durationBeforeCallback]="1000"
                (textChanged)="onChange($event)"
                style="min-height: 200px; width:100%; overflow: auto;"></div> -->
                <div style="margin-top:20px;overflow: hidden; display: flex; flex-direction: row; flex-flow: row wrap">
                    <div style="width:60%; margin-right: 3%">
                        <div class="titles-large">Table(s)</div>
                        <div class="scroll-type" style="margin-top: 10px">
                            <div *ngFor="let item of selectconcat.tables" style="margin-bottom: 5px;">
                                <div style="font-size: 18px">{{item.name}}</div>
                                <div style="overflow: hidden; display: flex; flex-direction: row; flex-flow: row wrap">
                                    <div *ngFor="let cl of item.columns" style="margin-right: 4px">
                                        <div *ngIf="cl.selected" style="font-size: 12px">{{cl.name}}, </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-type" style="width:37%">
                        <div class="titles-large">Arguments</div>
                        <div style="margin-top:10px" class="scroll-type">
                            <div *ngFor="let arg of selectconcat.arguments">
                                <div style="display: flex; flex-direction: row; flex-flow: row wrap;margin-top: 5px;margin-bottom: 5px; height: 20px; line-height: 20px; color: white; font-size:12px;">
                                    <div style="width:60%">{{arg.name}}</div>
                                    <div style="width:40%">{{arg.type}}</div>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Group by</ng-template>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;margin-left:100px;margin-top:20px;">
                <div style="width: 30%;padding-top: 30px">
                    <div class="box-container">
                        <mat-form-field style="background-color: #1e1e1e; margin-bottom: 15px">
                            <input class="search-input" style="width:85%" matInput [(ngModel)]="searchGroup">
                            <mat-icon style="color: white" aria-label="search">search</mat-icon>
                            <mat-divider></mat-divider>
                        </mat-form-field>
                        <div style="margin-top: 15px">
                            <div style="margin-bottom: 10px; margin-left:4px;" *ngFor="let table of selectconcat.tables">
                                <div style="margin-bottom: 10px; margin-left:4px;" *ngFor="let column of table.columns | filter: searchGroup">
                                    <mat-checkbox color="primary" [(ngModel)]="column.groupBy" (change)=addGroupBy(table,column)>{{table.alias}}.{{column.name}}</mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="width: 65%;padding-top: 30px">
                    <div style="margin-bottom: 18px" class="box-titles">Summary</div>
                    <mat-divider></mat-divider>
                    <div style="margin: 9px 0px"><span style="color:#01abec;">Select Column(s)</span></div>
                    <mat-divider></mat-divider>
                    <div *ngFor="let item of groupBySelected">
                        <div style="width:20%; color: white; line-height: 30px">{{item.name}}</div>
                        <mat-divider></mat-divider>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Service Configuration</ng-template>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Query Summary</ng-template>
            <div style="margin-left:100px;margin-right:100px;margin-top:20px;font-size: 14px">
                <div style="margin-bottom: 5px;"><span style="color:#01abec">Select </span>{{selectSentence}}</div>
                <div style="margin-bottom: 5px;"><span style="color:#01abec">From </span>{{fromSentence}}</div>
                <div style="margin-bottom: 5px;"><span style="color:#01abec">Where </span>{{whereSentence}}</div>
                <div style="margin-bottom: 5px;"><span style="color:#01abec">Group By </span>{{groupBySentence}}</div>
            </div>
        </mat-step>

    </mat-horizontal-stepper>