<div class="msf-register-header">
  <img class="msf-medium-logo" src="../../assets/images/logo.png">
  <div class="msf-register-header-content">
    <div class="msf-register-header-title">
      <div class="msf-register-header-title-content"> CATEGORY ARGUMENTS</div>
    </div>

    <div class="msf-register-header-image-content">
      <img class="medium-user-image" src="../../assets/images/icon-user-white.png">
    </div>
  </div>
</div>
<mat-card class="msf-register-card msf-center-container">
  <mat-card-content>
    <div style="display: flex; flex-direction: row">
      <div style="flex: 1; margin: 0 1%">
        <div style="display: flex; flex-direction: row">
          <div style="flex: 2">
            <h2 class="title-section">Category Arguments</h2>
          </div>
          <div style="flex: 1">
            <button mat-icon-button (click)="addCategoryArgument()">
              <mat-icon style="color: white" aria-label="add">add_circle</mat-icon>
            </button>
            <button mat-icon-button (click)="removeCategoryArgument()">
              <mat-icon style="color: white" aria-label="delete">remove_circle</mat-icon>
            </button>
            <button mat-icon-button (click)="saveCategoryArgument()">
              <mat-icon style="color: white" aria-label="save">save</mat-icon>
            </button>
          </div>
        </div>
        <ag-grid-angular style="height: 490px" class="ag-theme-balham-dark" [rowData]="rowData" [columnDefs]="columnDefs"
          [rowSelection]="'multiple'" [pagination]="true" [paginationPageSize]="15" (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged($event)">
        </ag-grid-angular>
      </div>
      <div style="flex: 1; margin: 0 1%">
        <div style="display: flex; flex-direction: row">
          <div style="flex: 2">
            <h2 class="title-section">Arguments</h2>
          </div>
          <div style="flex: 1">
            <button mat-icon-button (click)="addArgument()">
              <mat-icon style="color: white" aria-label="add">add_circle</mat-icon>
            </button>
            <button mat-icon-button (click)="removeArgument()">
              <mat-icon style="color: white" aria-label="delete">remove_circle</mat-icon>
            </button>
            <button mat-icon-button (click)="saveArguments()">
              <mat-icon style="color: white" aria-label="save">save</mat-icon>
            </button>
          </div>
        </div>
        <ag-grid-angular style="height: 490px" class="ag-theme-balham-dark" [rowData]="rowDataArguments" [columnDefs]="columnDefsArguments"
          [rowSelection]="'rowSelection'" [pagination]="true" [paginationPageSize]="15" (gridReady)="onGridReadyArgument($event)">
        </ag-grid-angular>
      </div>
    </div>
  </mat-card-content>
</mat-card>