.container-conn {
    background-color: #232323;
    height: calc(100% - 56%);
}

.selected {
    background-color: #182128;
}

.over-option {
    background-color: #1c2023;
}

.short-input {
    width: 90%;
    height: 10vh;
    color: white;
}

.large-input {
    width: 95%;
    color: white;
}

.header-new-conn {
    height: 15%;
    width: 96%;
    display: flex;
    flex-direction: row;
    padding-left: 4%;
}

.button-form {
    margin: 10px;
    width: 50%;
}

.buttons {
    width: 80%;
    height: 100%;
    border: none;
}

.menu-spacer {
    flex: 1 1 auto;
}

.conn-select {
    width: 44%;
    display: flex;
}

.select-connection {
    width: 100% !important;
    margin-top: 6%;
}

.show-delete {}

.hide-delete {
    display: none;
}

.table-connections {
    width: 95%;
    height: calc(100% - 59%);
    max-height: calc(100% - 59%);
    overflow: auto;
}

.button-delete .mat-icon-button {
    height: 30px !important;
    width: 30px !important;
}
